<main class="index">
    <header class="fondo d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Calcs</h1>
            <h3 class="mb-3">
                <em>calcula lo que necesites</em>
            </h3>
            <a href="/login" class="btn btn-primary">Inicia Sesion</a>
            <a href="/signup" class="btn btn-primary">Registrate</a>
        </div>
    </header>
</main>